.top-nav-red {
    background-color: #2d5bc8; /* Bootstrap danger red */
  }
    .nav-pills .nav-link:hover {
    background-color: rgb(255, 255, 255);
    color: #020202 !important;
  }
  .nav-pills .nav-link.active {
    background-color: #254aa1 !important; /* light white background */
    color: #ffffff !important;  /* dark text for contrast */
  }
  .nav-pills .nav-link {
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  
  
  